# Environment-specific files such as configuration, logs, and setup
build/
dist/
*.pyc
*.egg-info
local_config.py

# Misc and OS files
Desktop.ini             # Directory atttributes in Windows.
Thumbs.db               # Picture thumbnail cache in Windows 98.
.DS_Store               # Directory attributes in Mac OS X.
