{% extends "base.html" %}

{% block title %}{% if filename %}{{ filename }} - {% endif %}Grip{% endblock %}

{%- block styles -%}
  {%- for style_url in style_urls -%}
  <link rel="stylesheet" href="{{ style_url }}" />
  {% endfor -%}
  {%- if styles %}
  <style>
    {% for style in styles -%}
    {{ style }}
    {% endfor -%}
  </style>
  {% endif -%}
  <style>
    .previewPage {
      margin-top: 64px;
    }
  </style>
{%- endblock -%}

{%- block scripts -%}
  <script>
    function scrollToHash() {
      if (location.hash && !document.querySelector(":target")) {
        var elements = document.getElementsByName('user-content-' + location.hash.slice(1));
        if (elements.length > 0) {
          elements[elements.length - 1].scrollIntoView();
        }
      }
    }
    window.onhashchange = function() {
      scrollToHash();
    }
    window.onload = function() {
      scrollToHash();
    }
  </script>
{%- endblock -%}

{%- block page -%}
  <div class="previewPage">
    <div class="container">
      <div class="repository-with-sidebar repo-container with-full-navigation">
        <div class="repository-content context-loader-container">
          <div id="readme" class="announce md">
            {% if render_title and filename %}
              <span class="name">
                <span class="octicon octicon-book"></span>
                {{ filename }}
              </span>
            {% endif %}
            <article class="markdown-body entry-content">
              {{ content|safe }}
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>&nbsp;</div>
{%- endblock -%}
