{% extends "base.html" %}

{% block title %}Grip{% if filename %} - {% endif %}{{ filename or '' }}{% endblock %}

{% block styles %}
  {% for style_url in style_urls %}
  <link rel="stylesheet" href="{{ style_url }}" />
  {% endfor %}
  <style>
    @media screen {
        .previewPage {
          margin: 34px auto;
          width: 920px;
        }
    }
    @media print {
        .previewPage {
            margin: 0;
            width: 100%;
        }
        #readme .markdown-body, #readme .plain {
            border: 0;
            padding: 0;
        }
        #readme {
            background: none;
            border: none;
            padding: 0;
        }
    }
  </style>
{% endblock %}

{% block page %}
  <div class="previewPage">
    <div id="readme" class="announce md">
      <article class="markdown-body entry-content">
        {{ content|safe }}
      </article>
    </div>
  </div>
  
  <div>&nbsp;</div>
{% endblock %}
